header {
    width: 800px;
    margin-left: calc(50%-400px);
    background-color: yellow;
}

main {
    width: 800px;
    margin-left: calc(50%-400px);
    background-color: green; 
}

footer {
    width: 800px;
    margin-left: calc(50%-400px);
    background-color: red;
}